form.enter
    .wrapper-enter 
        h3.enter__head войти
        label.label-email
            input.input-email(type="text" name="email" value="Email")
        label.label-password
            input.input-password(type="text" name="password" value="Пароль")  

