form.form-enter
    .wrapper-enter 
        h3.form-enter__head войти
        label.label-email
            input.input-email(type="text" name="email" value="Email")
        label.label-password
            input.input-password(type="text" name="password" value="Пароль")
        .wrapper-button  
            button.btn(type="submit") войти
            span.arrow-right
        .wrapper-create
            p.create-text Нет аккаунта на Toxin?
            .wrapper-btn
                a.btn-link(href="/mock-address/change-me") Создать


